html,body{
    padding:0px;
    margin: 0px;
    font-size: 32px;
    font-family: Helvetica;
}

nav{
    display: flex; 
    background-color: #7acc2d;
    padding: 3px;
    color: white;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
}
nav li{
    padding-right: 25px;
    list-style: none;
}


nav li a{
    color: gray;
    text-decoration: none;
}

nav li a:hover{
    color: white;
}

/* -----------Main section */

.main_section{
    padding: 15%;
    text-align: center;
}

/* Sirve para colocar de fondo una imagen */
.products{
    background-image: url("../images/curva.png");
    height: 100px;
    background-size: cover;
    background-position: center top;
    padding: 30%;
    display: flex;
}

.product{
    padding:10px
}
.product .content{
    padding: 20px;
    background-color: white;
}