html,body{
    padding:0px;
    margin: 0px;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
}

nav{
    display: flex; 
    background-color: #336BFF;
    padding: 3px;
    color: white;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
}
nav li{
    padding-right: 25px;
    list-style: none;
}


nav li a{
    color: black;
    text-decoration: none;
}

nav li a:hover{
    color: white;
}

/* -----------Main section */

.main_section{
    padding: 10%;
    text-align: center;
}

.footer{
    background-color: #336BFF;
    bottom: 0;
    width: 100%;
    
}
/* Sirve para colocar de fondo una imagen */
.products{
    height: 100px;
    background-size: cover;
    background-position: center top;
    padding: 30%;
    display: flex;
}

.product{
    padding:10px
}
.product .content{
    padding: 15px;
    box-shadow: 0 0 10px black;
    background-color: #5369F4;

}

.img_content{
    text-align: center;
}
.main_button{
    background-color: #415077;
    width: 100%;
    padding: 10px;
    font-size: 17px;
    color: white;
    border: 0px;
    cursor: pointer;
    border-radius: 2px;
}

.main_button:hover{
    background-color: #336BFF;
}